* {
  padding: 0;
  margin: 0;
  font-family: "Poppines", "sans-sarif";
  box-sizing: border-box;
}
body {
  background: linear-gradient();
}
.container {
  background-color: bisque;
  width: 40%;
  margin: 10% 20%;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.container h1 {
  margin: 10px;
}
.container h1 img {
  width: 60px;
}
.container input {
  background-color: rgb(249, 246, 246);
  width: 70%;
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 20px;
}
.container button {
  outline: none;
  border: none;
  padding: 12px;
  width: 15%;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  background-color: #ff5945;
}

ul {
  margin: 20px 20px;
}
ul li {
  list-style: none;
  font-size: larger;
  font-weight: 500;
  padding: 20px;
  user-select: none;
}
/* li ke aage ke circle ke liye code */
ul li::before {
  /* imp to define*/
  content: "";
  position: absolute;
  left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

/* task is compeleted show code */
.task_compeleted {
  text-decoration: line-through;
}
/* before ke liye (circle) */
ul li.task_compeleted::before {
  /* background-color: red; */
  background-image: url(check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul li span {
  position: absolute;
  right: 30px;
  font-size: 30px;
  /* color: #555; */
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
ul li span:hover {
  background-color: #edeef0;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* show msg */
.showmsg {
  background-color: #d79e9e58;
  width: 30%;
  /* height: 10vh; */
  /* display: none; */
  text-align: justify;
  position: absolute;
  top: -60px;
  left: 25%;
}
.active {
  display: block;
  position: absolute;
  top: 80px;
  left: 25%;

  transition: all 0.5s ease-in-out;
}
.showmsg h5 {
  padding: 5px;
  margin: 10px;
  font-size: larger;
  font-weight: 15px;
}
/* responsive website code */
/* 
@media only screen and (max-width: 459px) {
  body {
    background-color: aqua;
  }
} */
/* When the screen width is less than or equal to 768px, the button becomes fixed. */
@media (max-width: 1142px) {
  #addBtn {
    position: fixed;
    left: 40%;
    padding: 12px;
    width: 10%;
  }
  /* body {
    background-color: aqua;
  } */
}

@media (min-width: 1538px) {
  #addBtn {
    position: fixed;
    left: 40%;
    padding: 12px;
    width: 10%;
  }
}

/* Small Android Phones (e.g., Galaxy A01, Pixel 4a)	320px – 480px */
@media (max-width: 480px) {
  .container {
    width: 80%;
    margin: 10% auto;
  }
  #addBtn {
    position: fixed;
    left: 90px;
    margin-top: 10%;
    width: 25%;
    padding: 10px;
  }
  .container input {
    width: 100%;
  }
  .list {
    margin-top: 20%;
  }
  .showmsg {
    width: 80%;
    height: 5vh;
    position: absolute;
    left: 50px;
    top: -50px;
  }
  .showmsg h5 {
    padding: 3px;
    margin: 0%;
    font-size: larger;
    font-weight: 15px;
  }
  .active {
    display: block;
    position: absolute;
    top: 5px;
    left: 50px;
    background-color: #f33b4d;
    transition: all 0.5s ease-in-out;
  }
  body {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }
}

/* @media only screen and (min-width: 1538px) {
  #addBtn {
    margin-left: 8%;
  }
} */

/* @media only screen and (max-width: 455px) {
  body {
    background-color: rgb(11, 72, 87);
  }
  .next-btn {
    margin: 0px;
    width: 90px;
    padding: 5px;
  }
} */
